{{#if success_msg}}

<div class="alert alert-danger">

    <h3>{{success_msg}}</h3>
    
</div>


{{/if}}

{{#if error_msg}}


<div class="alert alert-danger" style="">
<h3>{{error_msg}}</h3>

</div>





{{/if}}