<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #383838; width: 95%; position:relative;left:2.5%;top: 1px;border-radius:5px;" >
  <a class="navbar-brand" href="/admin/">Mrs.Gringa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-radius: 10px;">
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Cliente</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="admin/cadastroCliente">Cadastrar Cliente</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Listar Cliente</a>
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Compras</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="admin/cadastroCliente">Pesquisa por Compra</a>
          </div>
      </li>

      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estoque
          </a>
          <div class="dropdown-menu" style="border-radius: 10px;" aria-labelledby="navbarDropdown" style="text-align: center;background-color:antiquewhite;">

            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Produtos</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="/admin/cadastroProduto">Cadastrar Produto</a>
            <a class="dropdown-item" style="text-align: center;" href="/admin/entradaemProdutos">Entrada em Produto Existente</a>
            <a class="dropdown-item" style="text-align: center;" href="/admin/listarProdutos">Listar Produto</a>

            <div class="dropdown-divider"></div>
             <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;">Categoria</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="/admin/cadastroCategoria">Cadastrar Categoria</a>
            <a class="dropdown-item" style="text-align: center;" href="/admin/listarCategorias">Listar Categoria</a>
            <div class="dropdown-divider"></div>
               <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;">Notas</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="/admin/entradaEmNota">Entrada de Notas</a>
            <a class="dropdown-item" style="text-align: center;" href="/admin/entradaEmNota">Listagem de Notas</a>

          </div>
      </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Relatorio
          </a>
          <div class="dropdown-menu"  style="border-radius: 10px;" aria-labelledby="navbarDropdown">
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Semanal</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Venda Semanal</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Saída de Produto Semanal</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Compras de Fornecedores Semanal</a>
            <div class="dropdown-divider"></div>
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Mensal</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Venda Mensal</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Saída de Produto Mensal</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Relatorio de Compras de Fornecedores Mensal</a>

          </div>
      </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Utilidades
          </a>
          <div class="dropdown-menu" style="border-radius: 10px;" aria-labelledby="navbarDropdown">
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Facebook</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="#">Pagina da Loja</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Ferramenta de Publicacao</a>
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Instagram</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="#">Pagina da Loja</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Ferramenta de Publicacao</a>
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Anotacoes</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="#">Deixar Recado</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Ver Recados Deixados</a>

          
          </div>

      </li>

              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vendas
          </a>
          <div class="dropdown-menu" style="border-radius: 10px;" aria-labelledby="navbarDropdown">
            <strong><label for="" style="text-align: center;color:#838383;font-size: 18px;background-color: #C6E2FF;width: 100%;border-radius:10px 10px 0px 0px;">Vendas</label></strong>
            <a class="dropdown-item" style="text-align: center;" href="/admin/novaVenda">Nova Venda </a>
            <a class="dropdown-item" style="text-align: center;" href="#">Pesquisar Venda</a>
            <a class="dropdown-item" style="text-align: center;" href="#">Listar Venda </a>

          </div>
      </li>


  </div>


</nav>